Log Returns

Log return is the natural logarithm of the price relative:

log_return_t = ln(price_t / price_(t-1))

Why it is useful:
- Log returns are additive over time: total log return = sum of period log returns.
- They connect directly to continuously compounded growth.
- For small changes, log returns are close to simple returns.

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.6f}'.format

Theory example (dummy data): closing prices for one asset over 6 days.

In [2]:
price_data = pd.DataFrame({
    "Date": pd.date_range(start="2025-01-01", periods=6, freq="D"),
    "Close_Price": [100, 103, 101, 106, 108, 107]
}).set_index("Date")

price_data

            Close_Price
Date
2025-01-01          100
2025-01-02          103
2025-01-03          101
2025-01-04          106
2025-01-05          108
2025-01-06          107

In [3]:
price_data["Simple_Return"] = price_data["Close_Price"].pct_change()
price_data["Log_Return"] = np.log(price_data["Close_Price"] / price_data["Close_Price"].shift(1))

price_data

            Close_Price  Simple_Return  Log_Return
Date
2025-01-01          100            NaN         NaN
2025-01-02          103       0.030000    0.029559
2025-01-03          101      -0.019417   -0.019608
2025-01-04          106       0.049505    0.048319
2025-01-05          108       0.018868    0.018692
2025-01-06          107      -0.009259   -0.009302

In [4]:
total_log_return = price_data["Log_Return"].sum()
investment_multiple_from_logs = np.exp(total_log_return)
investment_multiple_from_prices = price_data["Close_Price"].iloc[-1] / price_data["Close_Price"].iloc[0]

comparison = pd.DataFrame({
    "Metric": [
        "Total Log Return",
        "Investment Multiple (exp(sum log returns))",
        "Investment Multiple (ending price / starting price)"
    ],
    "Value": [
        total_log_return,
        investment_multiple_from_logs,
        investment_multiple_from_prices
    ]
})

comparison

                                              Metric    Value
0                                   Total Log Return 0.067659
1         Investment Multiple (exp(sum log returns)) 1.070000
2  Investment Multiple (ending price / starting p... 1.070000

Key idea: summed log returns convert back to the exact total growth factor with exp(sum_log_returns).