Price Changes and Financial Returns

More meaningful/useful that prices: price changes

In [3]:
import pandas as pd
import matplotlib.pyplot as plot
pd.options.display.float_format = '{:2f}'.format
plot.style.use("seaborn-v0_8-darkgrid")

In [4]:
close = pd.read_csv("close.csv", index_col = "Date", parse_dates = True)
close

,BA,BTC-USD,EURUSD=X,GC=F,MSFT,^DJI
Date,,,,,,
2014-10-01,108.406685,383.614990,1.262834,1214.599976,38.880161,16804.710938
2014-10-02,107.971893,375.071991,1.262419,1214.199951,38.761574,16801.050781
2014-10-03,109.876198,359.511993,1.267058,1192.199951,39.041103,17009.689453
2014-10-04,NaN,328.865997,NaN,NaN,NaN,NaN
2014-10-05,NaN,320.510010,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2021-05-26,241.369995,39294.199219,1.224909,1901.300049,242.428955,34323.050781
2021-05-27,250.699997,38436.968750,1.219260,1895.699951,240.327469,34464.640625
2021-05-28,247.020004,35697.605469,1.219319,1902.500000,240.684143,34529.449219
2021-05-29,NaN,34616.066406,NaN,NaN,NaN,NaN
2021-05-30,NaN,35678.128906,NaN,NaN,NaN,NaN

In [5]:
msft = close.MSFT.dropna().to_frame().copy()

In [6]:
msft

                 MSFT
Date
2014-10-01  38.880161
2014-10-02  38.761574
2014-10-03  39.041103
2014-10-06  39.041103
2014-10-07  38.566746
...               ...
2021-05-24 241.744522
2021-05-25 242.650650
2021-05-26 242.428955
2021-05-27 240.327469
2021-05-28 240.684143

[1677 rows x 1 columns]

In [ ]:
msft

In [ ]:
msft.shift(periods = 1) # Shift the data by 1 period

                 MSFT
Date
2014-10-01        NaN
2014-10-02  38.880161
2014-10-03  38.761574
2014-10-06  39.041103
2014-10-07  39.041103
...               ...
2021-05-24 236.336655
2021-05-25 241.744522
2021-05-26 242.650650
2021-05-27 242.428955
2021-05-28 240.327469

[1677 rows x 1 columns]

In [8]:
msft["P_lag1"] = msft.shift(periods = 1)
msft

                 MSFT     P_lag1
Date
2014-10-01  38.880161        NaN
2014-10-02  38.761574  38.880161
2014-10-03  39.041103  38.761574
2014-10-06  39.041103  39.041103
2014-10-07  38.566746  39.041103
...               ...        ...
2021-05-24 241.744522 236.336655
2021-05-25 242.650650 241.744522
2021-05-26 242.428955 242.650650
2021-05-27 240.327469 242.428955
2021-05-28 240.684143 240.327469

[1677 rows x 2 columns]

Absolute Price Change

In [ ]:
msft["P_diff2"] = msft.MSFT.sub(msft.P_lag1) # 
msft

                 MSFT     P_lag1    P_diff   P_diff2
Date
2014-10-01  38.880161        NaN       NaN       NaN
2014-10-02  38.761574  38.880161 -0.118587 -0.118587
2014-10-03  39.041103  38.761574  0.279530  0.279530
2014-10-06  39.041103  39.041103  0.000000  0.000000
2014-10-07  38.566746  39.041103 -0.474358 -0.474358
...               ...        ...       ...       ...
2021-05-24 241.744522 236.336655  5.407867  5.407867
2021-05-25 242.650650 241.744522  0.906128  0.906128
2021-05-26 242.428955 242.650650 -0.221695 -0.221695
2021-05-27 240.327469 242.428955 -2.101486 -2.101486
2021-05-28 240.684143 240.327469  0.356674  0.356674

[1677 rows x 4 columns]

In [22]:
msft.P_diff.equals(msft.P_diff2)

True

In [23]:
msft

                 MSFT     P_lag1    P_diff   P_diff2
Date
2014-10-01  38.880161        NaN       NaN       NaN
2014-10-02  38.761574  38.880161 -0.118587 -0.118587
2014-10-03  39.041103  38.761574  0.279530  0.279530
2014-10-06  39.041103  39.041103  0.000000  0.000000
2014-10-07  38.566746  39.041103 -0.474358 -0.474358
...               ...        ...       ...       ...
2021-05-24 241.744522 236.336655  5.407867  5.407867
2021-05-25 242.650650 241.744522  0.906128  0.906128
2021-05-26 242.428955 242.650650 -0.221695 -0.221695
2021-05-27 240.327469 242.428955 -2.101486 -2.101486
2021-05-28 240.684143 240.327469  0.356674  0.356674

[1677 rows x 4 columns]

Absolute Price Changes are not meaningful..

Relative and Percentage Price Changes

In [27]:
msft.MSFT.div(msft.P_lag1) # Alternative!

Date
2014-10-01        NaN
2014-10-02   0.996950
2014-10-03   1.007212
2014-10-06   1.000000
2014-10-07   0.987850
               ...
2021-05-24   1.022882
2021-05-25   1.003748
2021-05-26   0.999086
2021-05-27   0.991332
2021-05-28   1.001484
Length: 1677, dtype: float64

In [29]:
msft["Returns"] = msft.MSFT.pct_change(periods = 1) # another alternative

In [30]:
msft

                 MSFT     P_lag1    P_diff   P_diff2   Returns
Date
2014-10-01  38.880161        NaN       NaN       NaN       NaN
2014-10-02  38.761574  38.880161 -0.118587 -0.118587 -0.003050
2014-10-03  39.041103  38.761574  0.279530  0.279530  0.007212
2014-10-06  39.041103  39.041103  0.000000  0.000000  0.000000
2014-10-07  38.566746  39.041103 -0.474358 -0.474358 -0.012150
...               ...        ...       ...       ...       ...
2021-05-24 241.744522 236.336655  5.407867  5.407867  0.022882
2021-05-25 242.650650 241.744522  0.906128  0.906128  0.003748
2021-05-26 242.428955 242.650650 -0.221695 -0.221695 -0.000914
2021-05-27 240.327469 242.428955 -2.101486 -2.101486 -0.008668
2021-05-28 240.684143 240.327469  0.356674  0.356674  0.001484

[1677 rows x 5 columns]

In [ ]:
38.761574 / 38.880161 - 1 #Relative change

-0.0030500645303397356

In [32]:
(38.761574 / 38.880161) * 100

99.69499354696603

Take Home: Relative Price Change (Returns) are meaningful and comparable across instructions

In [33]:
msft.drop(columns = ["P_lag1", "P_diff", "P_diff2"], inplace = True)
msft

                 MSFT   Returns
Date
2014-10-01  38.880161       NaN
2014-10-02  38.761574 -0.003050
2014-10-03  39.041103  0.007212
2014-10-06  39.041103  0.000000
2014-10-07  38.566746 -0.012150
...               ...       ...
2021-05-24 241.744522  0.022882
2021-05-25 242.650650  0.003748
2021-05-26 242.428955 -0.000914
2021-05-27 240.327469 -0.008668
2021-05-28 240.684143  0.001484

[1677 rows x 2 columns]

In [34]:
msft.to_csv("msft.csv")

### Summary
This notebook performs an analysis of Microsoft (MSFT) stock price changes, illustrating the difference between absolute and relative price changes.

**Columns Explained:**
 `MSFT`: The original closing price of MSFT stock for each date.`P_lag1`: The closing price of MSFT from the previous day (a one-period lag). This is use as a basis for calculating the change.`P_diff` / `P_diff2`: These columns represent the **absolute price change**, calculated a the simple difference between the current day's price and the previous day's price (`Price_Today - Price_Yesterday`). The notebook shows two different methods to achieve the same result. While straightforward, absolute changes can be misleading because a $1 change far more significant for a $10 stock than for a $500 stock. `Returns`: This column shows the **relative price change**, or the daily financial return

It is calculated as the percentage change from the previous day's closing price `(Price_Today - Price_Yesterday) / Price_Yesterday`. This metric is standardized and far more useful for financial analysis as it allows for the comparison of performance over time and across different assets, regardless of their absolute price levels.

**Why this is important:**
The primary goal of this notebook is to demonstrate why financial analysts and traders focus on **returns** rather than absolute price movements. Returns provide a normalized measure o
profitability and volatility, which is essential for building and evaluating trading strategies, conducting risk analysis, and comparing investment opportunities.