Price Changes and Financial Returns

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:4f}'.format
plt.style.use('seaborn-v0_8-darkgrid')

In [5]:
msft = pd.read_csv("msft.csv", index_col = "Date", parse_dates =["Date"])

In [6]:
msft

                 MSFT   Returns
Date
2014-10-01  38.880161       NaN
2014-10-02  38.761574 -0.003050
2014-10-03  39.041103  0.007212
2014-10-06  39.041103  0.000000
2014-10-07  38.566746 -0.012150
...               ...       ...
2021-05-24 241.744522  0.022882
2021-05-25 242.650650  0.003748
2021-05-26 242.428955 -0.000914
2021-05-27 240.327469 -0.008668
2021-05-28 240.684143  0.001484

[1677 rows x 2 columns]

In [7]:
msft.Price.plot(figsize = (15, 8), fontsize = 13)
plt.legend(fontsize =13)
plt.show()

AttributeError: 'DataFrame' object has no attribute 'Price'