Investment Multiple and CAGR (Compound Annual Growth Rate)

Two alternatives reward metrics that are more intuitive and easier to interpret

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:4f}'.format
plt.style.use('seaborn-v0_8-darkgrid')

In [4]:
msft = pd.read_csv("msft.csv", index_col = "Date", parse_dates = True)
msft

                 MSFT   Returns
Date
2014-10-01  38.880161       NaN
2014-10-02  38.761574 -0.003050
2014-10-03  39.041103  0.007212
2014-10-06  39.041103  0.000000
2014-10-07  38.566746 -0.012150
...               ...       ...
2021-05-24 241.744522  0.022882
2021-05-25 242.650650  0.003748
2021-05-26 242.428955 -0.000914
2021-05-27 240.327469 -0.008668
2021-05-28 240.684143  0.001484

[1677 rows x 2 columns]

Investment Multiple: Ending Value of 1 [Dollar] invested.
Multiple = Ending Value / Initial Investment

In [ ]:
multiple = (msft.MSFT.iloc[-1] / msft.MSFT.iloc[0])
multiple

/var/folders/f8/mtg4j9ld7738_4k47b8j8hd40000gn/T/ipykernel_82346/142011593.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  multiple = (msft.MSFT[-1] / msft.MSFT[0])

np.float64(6.190410098858922)

Price Increase (In %)

In [6]:
(multiple - 1) * 100

np.float64(519.0410098858922)

In [8]:
msft.MSFT / msft.MSFT.iloc[0] # Similar concept: Normalised Price with Base Value 1

Date
2014-10-01   1.000000
2014-10-02   0.996950
2014-10-03   1.004139
2014-10-06   1.004139
2014-10-07   0.991939
               ...
2021-05-24   6.217683
2021-05-25   6.240989
2021-05-26   6.235287
2021-05-27   6.181236
2021-05-28   6.190410
Name: MSFT, Length: 1677, dtype: float64

Drawback of Investment Multiple: Does not take into account investment Period. Meaningful only in conjunction with Investment Period.

Compound Annual Growth (CAGR): The constant annual rate of retun that would required for an investment to grow from its balance to it ending balance. Assuming the profits were invested at the end of each year of the investments lifespan.

In [9]:
start = msft.index[0]
start

Timestamp('2014-10-01 00:00:00')

In [12]:
end = msft.index[-1]
end

Timestamp('2021-05-28 00:00:00')

In [14]:
td = end - start
td

Timedelta('2431 days 00:00:00')

In [16]:
td_years = td.days / 365.25
td_years

6.655715263518139

In [18]:
cagr = multiple**(1/td_years) - 1 #short version
cagr

np.float64(0.31508347023269323)

In [19]:
(1 + cagr)**(td_years) # alternative #2 calulate multiple (cagr)

np.float64(6.190410098858925)

CAGR can be used to compare investments with different investment horizons