Compound Returns and Geometric Mean Return

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:4f}'.format
plt.style.use('seaborn-v0_8-darkgrid')

In [2]:
msft = pd.read_csv("msft.csv", index_col = "Date", parse_dates = True)
msft

                 MSFT   Returns
Date
2014-10-01  38.880161       NaN
2014-10-02  38.761574 -0.003050
2014-10-03  39.041103  0.007212
2014-10-06  39.041103  0.000000
2014-10-07  38.566746 -0.012150
...               ...       ...
2021-05-24 241.744522  0.022882
2021-05-25 242.650650  0.003748
2021-05-26 242.428955 -0.000914
2021-05-27 240.327469 -0.008668
2021-05-28 240.684143  0.001484

[1677 rows x 2 columns]

In [10]:
multiple = (1+msft.Returns).prod() # alternative #3 to calc multiple (compund daily returns)
multiple

np.float64(6.190410098859151)

In [11]:
multiple = (1+msft.Returns) # alternative #3 to calc multiple (compund daily returns)
multiple

Date
2014-10-01        NaN
2014-10-02   0.996950
2014-10-03   1.007212
2014-10-06   1.000000
2014-10-07   0.987850
               ...
2021-05-24   1.022882
2021-05-25   1.003748
2021-05-26   0.999086
2021-05-27   0.991332
2021-05-28   1.001484
Name: Returns, Length: 1677, dtype: float64

In [6]:
n = msft.Returns.count()
n

np.int64(1676)

In [8]:
geo_mean = multiple**(1/n) - 1 #Geometric mean return (daily)
geo_mean

np.float64(0.001088301398542102)

In [ ]:
(1 + geo_mean)**n #alternative #4 to calculate multiple (geometric mean)

np.float64(6.190410098858987)

Compound returns, CAGR and geometric mean returns are closely related concepts

In [12]:
mu = msft.Returns.mean() #athrimetic mean returns
mu

np.float64(0.001236732122059186)

The arithmetic mean return is always greater than the geometric mean return and less useful

In [14]:
(1+mu)**n # calculate multiple? not possible with arithmetic mean!

np.float64(7.9365793179007325)