Continuous Compounding

With continuous compounding, interest is compounded at every instant (the mathematical limit of increasingly frequent compounding).

Formula:
final_amount = principal * exp(annual_nominal_rate * years)

Where:
- principal = initial principal
- annual_nominal_rate = annual nominal interest rate
- years = number of years
- exp() = exponential function
- final_amount = ending value

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.4f}'.format

Theory example (dummy data):
- Initial investment = $10,000
- Annual interest rate = 8%
- Investment horizon = 3 years

In [2]:
principal = 10_000
annual_nominal_rate = 0.08
years = 3

final_amount = principal * np.exp(annual_nominal_rate * years)
final_amount

np.float64(12712.491503214047)

In [3]:
time_points_years = np.arange(0, years + 1)
growth_table = pd.DataFrame({
    "Year": time_points_years,
    "Amount": principal * np.exp(annual_nominal_rate * time_points_years)
})

growth_table

   Year      Amount
0     0 10,000.0000
1     1 10,832.8707
2     2 11,735.1087
3     3 12,712.4915

In [4]:
summary = pd.DataFrame({
    "Metric": [
        "Initial Principal",
        "Final Amount (Continuous Compounding)",
        "Total Interest Earned",
        "Investment Multiple"
    ],
    "Value": [
        principal,
        final_amount,
        final_amount - principal,
        final_amount / principal
    ]
})

summary

                                  Metric       Value
0                      Initial Principal 10,000.0000
1  Final Amount (Continuous Compounding) 12,712.4915
2                  Total Interest Earned  2,712.4915
3                    Investment Multiple      1.2712

Key idea: continuous compounding gives the theoretical upper bound compared with any discrete compounding frequency at the same rate and time horizon.