In [ ]:
# Financial Data Analysis

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
start = "2014-10-01"
end = "2021-05-31"

In [3]:
symbol = "BA"

In [4]:
yf.download(symbol, start, end, multi_level_index=False)

/var/folders/f8/mtg4j9ld7738_4k47b8j8hd40000gn/T/ipykernel_90045/1235008259.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  yf.download(symbol, start, end, multi_level_index=False)
[*********************100%***********************]  1 of 1 completed

                 Close        High         Low        Open    Volume
Date
2014-10-01  108.406677  110.754464  108.093639  110.754464   5265200
2014-10-02  107.971878  109.171860  107.684925  108.171877   3204500
2014-10-03  109.876213  110.319685  108.397982  108.397982   3075900
2014-10-06  109.789261  110.597942  109.024053  110.510982   2681000
2014-10-07  107.232773  109.145778  107.206687  109.145778   3554900
...                ...         ...         ...         ...       ...
2021-05-24  237.440002  238.500000  232.600006  235.139999  10106000
2021-05-25  240.740005  243.779999  239.229996  240.000000  12908000
2021-05-26  241.369995  242.490005  239.869995  241.699997   7240200
2021-05-27  250.699997  252.600006  247.190002  248.110001  18404400
2021-05-28  247.020004  248.979996  245.369995  247.479996  11197400

[1677 rows x 5 columns]

In [5]:
df = yf.download(symbol, start, end, multi_level_index=False)
df

/var/folders/f8/mtg4j9ld7738_4k47b8j8hd40000gn/T/ipykernel_90045/1442495588.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol, start, end, multi_level_index=False)
[*********************100%***********************]  1 of 1 completed

                 Close        High         Low        Open    Volume
Date
2014-10-01  108.406677  110.754464  108.093639  110.754464   5265200
2014-10-02  107.971878  109.171860  107.684925  108.171877   3204500
2014-10-03  109.876213  110.319685  108.397982  108.397982   3075900
2014-10-06  109.789261  110.597942  109.024053  110.510982   2681000
2014-10-07  107.232773  109.145778  107.206687  109.145778   3554900
...                ...         ...         ...         ...       ...
2021-05-24  237.440002  238.500000  232.600006  235.139999  10106000
2021-05-25  240.740005  243.779999  239.229996  240.000000  12908000
2021-05-26  241.369995  242.490005  239.869995  241.699997   7240200
2021-05-27  250.699997  252.600006  247.190002  248.110001  18404400
2021-05-28  247.020004  248.979996  245.369995  247.479996  11197400

[1677 rows x 5 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1677 entries, 2014-10-01 to 2021-05-28
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1677 non-null   float64
 1   High    1677 non-null   float64
 2   Low     1677 non-null   float64
 3   Open    1677 non-null   float64
 4   Volume  1677 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 78.6 KB

In [7]:
symbol = ["BA", "MSFT", "^DJI", "EURUSD=X", "GC=F", "BTC-USD"]

In [8]:
df = yf.download(symbol,start,end)
df

/var/folders/f8/mtg4j9ld7738_4k47b8j8hd40000gn/T/ipykernel_90045/3849209574.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(symbol,start,end)
[*********************100%***********************]  6 of 6 completed

Price            Close                                                   \
Ticker              BA       BTC-USD  EURUSD=X         GC=F        MSFT
Date
2014-10-01  108.406677    383.614990  1.262834  1214.599976   38.880161
2014-10-02  107.971878    375.071991  1.262419  1214.199951   38.761581
2014-10-03  109.876213    359.511993  1.267058  1192.199951   39.041111
2014-10-04         NaN    328.865997       NaN          NaN         NaN
2014-10-05         NaN    320.510010       NaN          NaN         NaN
...                ...           ...       ...          ...         ...
2021-05-26  241.369995  39294.199219  1.224909  1901.300049  242.428955
2021-05-27  250.699997  38436.968750  1.219260  1895.699951  240.327484
2021-05-28  247.020004  35697.605469  1.219319  1902.500000  240.684158
2021-05-29         NaN  34616.066406       NaN          NaN         NaN
2021-05-30         NaN  35678.128906       NaN          NaN         NaN

Price                           High                                       \
Ticker              ^DJI          BA       BTC-USD  EURUSD=X         GC=F
Date
2014-10-01  16804.710938  110.754464    391.378998  1.263999  1217.800049
2014-10-02  16801.050781  109.171860    385.497009  1.269050  1219.500000
2014-10-03  17009.689453  110.319685    377.695007  1.266994  1212.400024
2014-10-04           NaN         NaN    364.487000       NaN          NaN
2014-10-05           NaN         NaN    341.800995       NaN          NaN
...                  ...         ...           ...       ...          ...
2021-05-26  34323.050781  242.490005  40782.078125  1.226500  1901.300049
2021-05-27  34464.640625  252.600006  40379.617188  1.221699  1903.900024
2021-05-28  34529.449219  248.979996  38856.968750  1.220107  1905.400024
2021-05-29           NaN         NaN  37234.500000       NaN          NaN
2021-05-30           NaN         NaN  36400.667969       NaN          NaN

Price       ...      Open                                             Volume  \
Ticker      ...  EURUSD=X         GC=F        MSFT          ^DJI          BA
Date        ...
2014-10-01  ...  1.262913  1207.699951   39.193573  17040.460938   5265200.0
2014-10-02  ...  1.262499  1215.300049   38.820879  16808.269531   3204500.0
2014-10-03  ...  1.266994  1212.400024   38.947934  16802.199219   3075900.0
2014-10-04  ...       NaN          NaN         NaN           NaN         NaN
2014-10-05  ...       NaN          NaN         NaN           NaN         NaN
...         ...       ...          ...         ...           ...         ...
2021-05-26  ...  1.224890  1901.300049  242.371104  34336.339844   7240200.0
2021-05-27  ...  1.219036  1896.800049  242.120470  34432.468750  18404400.0
2021-05-28  ...  1.219274  1897.500000  241.956607  34558.500000  11197400.0
2021-05-29  ...       NaN          NaN         NaN           NaN         NaN
2021-05-30  ...       NaN          NaN         NaN           NaN         NaN

Price
Ticker          BTC-USD EURUSD=X      GC=F        MSFT         ^DJI
Date
2014-10-01     26229400      0.0     178.0  38088400.0  104240000.0
2014-10-02     21777700      0.0     176.0  25119400.0   75490000.0
2014-10-03     30901200      0.0     499.0  32453200.0   87940000.0
2014-10-04     47236500      NaN       NaN         NaN          NaN
2014-10-05     83308096      NaN       NaN         NaN          NaN
...                 ...      ...       ...         ...          ...
2021-05-26  51346735160      0.0  170526.0  17771600.0  258780000.0
2021-05-27  43210968721      0.0   35794.0  24426200.0  520630000.0
2021-05-28  55200191952      0.0    2415.0  18270200.0  290850000.0
2021-05-29  45231013335      NaN       NaN         NaN          NaN
2021-05-30  31646080921      NaN       NaN         NaN          NaN

[2434 rows x 30 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2434 entries, 2014-10-01 to 2021-05-30
Freq: D
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, BA)         1677 non-null   float64
 1   (Close, BTC-USD)    2434 non-null   float64
 2   (Close, EURUSD=X)   1735 non-null   float64
 3   (Close, GC=F)       1674 non-null   float64
 4   (Close, MSFT)       1677 non-null   float64
 5   (Close, ^DJI)       1677 non-null   float64
 6   (High, BA)          1677 non-null   float64
 7   (High, BTC-USD)     2434 non-null   float64
 8   (High, EURUSD=X)    1735 non-null   float64
 9   (High, GC=F)        1674 non-null   float64
 10  (High, MSFT)        1677 non-null   float64
 11  (High, ^DJI)        1677 non-null   float64
 12  (Low, BA)           1677 non-null   float64
 13  (Low, BTC-USD)      2434 non-null   float64
 14  (Low, EURUSD=X)     1735 non-null   float64
 15  (Low, GC=F)         1674 non-null   float64
 16  (Low, MSFT)         1677 non-null   float64
 17  (Low, ^DJI)         1677 non-null   float64
 18  (Open, BA)          1677 non-null   float64
 19  (Open, BTC-USD)     2434 non-null   float64
 20  (Open, EURUSD=X)    1735 non-null   float64
 21  (Open, GC=F)        1674 non-null   float64
 22  (Open, MSFT)        1677 non-null   float64
 23  (Open, ^DJI)        1677 non-null   float64
 24  (Volume, BA)        1677 non-null   float64
 25  (Volume, BTC-USD)   2434 non-null   int64
 26  (Volume, EURUSD=X)  1735 non-null   float64
 27  (Volume, GC=F)      1674 non-null   float64
 28  (Volume, MSFT)      1677 non-null   float64
 29  (Volume, ^DJI)      1677 non-null   float64
dtypes: float64(29), int64(1)
memory usage: 589.5 KB

In [10]:
df.to_csv("different_assets.csv")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2434 entries, 2014-10-01 to 2021-05-30
Freq: D
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, BA)         1677 non-null   float64
 1   (Close, BTC-USD)    2434 non-null   float64
 2   (Close, EURUSD=X)   1735 non-null   float64
 3   (Close, GC=F)       1674 non-null   float64
 4   (Close, MSFT)       1677 non-null   float64
 5   (Close, ^DJI)       1677 non-null   float64
 6   (High, BA)          1677 non-null   float64
 7   (High, BTC-USD)     2434 non-null   float64
 8   (High, EURUSD=X)    1735 non-null   float64
 9   (High, GC=F)        1674 non-null   float64
 10  (High, MSFT)        1677 non-null   float64
 11  (High, ^DJI)        1677 non-null   float64
 12  (Low, BA)           1677 non-null   float64
 13  (Low, BTC-USD)      2434 non-null   float64
 14  (Low, EURUSD=X)     1735 non-null   float64
 15  (Low, GC=F)         1674 non-null   float64
 16  (Low, MSFT)         1677 non-null   float64
 17  (Low, ^DJI)         1677 non-null   float64
 18  (Open, BA)          1677 non-null   float64
 19  (Open, BTC-USD)     2434 non-null   float64
 20  (Open, EURUSD=X)    1735 non-null   float64
 21  (Open, GC=F)        1674 non-null   float64
 22  (Open, MSFT)        1677 non-null   float64
 23  (Open, ^DJI)        1677 non-null   float64
 24  (Volume, BA)        1677 non-null   float64
 25  (Volume, BTC-USD)   2434 non-null   int64
 26  (Volume, EURUSD=X)  1735 non-null   float64
 27  (Volume, GC=F)      1674 non-null   float64
 28  (Volume, MSFT)      1677 non-null   float64
 29  (Volume, ^DJI)      1677 non-null   float64
dtypes: float64(29), int64(1)
memory usage: 589.5 KB