In [1]:
# Time Series Basics

## Example of importing timeseries data

In [3]:
import pandas as pd

In [17]:
temp = pd.read_csv("data/temp.csv", parse_dates=["datetime"], index_col="datetime")

In [13]:
temp.head()

             datetime    LA   NY
0 2013-01-01 00:00:00  11.7 -1.1
1 2013-01-01 01:00:00  10.7 -1.7
2 2013-01-01 02:00:00   9.9 -2.0
3 2013-01-01 03:00:00   9.3 -2.1
4 2013-01-01 04:00:00   8.8 -2.3

In [18]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2013-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LA      35062 non-null  float64
 1   NY      35064 non-null  float64
dtypes: float64(2)
memory usage: 821.8 KB

In [15]:
type(temp.iloc[0,0])

pandas._libs.tslibs.timestamps.Timestamp

In [7]:
temp.iloc[0,0]

'2013-01-01 00:00:00'

In [8]:
temp.index

RangeIndex(start=0, stop=35064, step=1)

In [9]:
temp.index[0]

0